RewriteEngine On
RewriteBase /

# Eccezioni per i file nella root
RewriteCond %{REQUEST_URI} ^/collezione\.json$ [OR]
RewriteCond %{REQUEST_URI} ^/README\.md$ [OR]
RewriteCond %{REQUEST_URI} ^/WebScrapingStarWars\.jar$
RewriteRule ^ - [L]

# Gestisci le richieste Laravel
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Specifica la versione di PHP
AddHandler av-php84 .php


