@use "bootstrap/scss/bootstrap" as *;

.wikilink {
    @extend .text-uppercase;
    @extend .text-info;
}

.master-block {
    @extend .border; // attivo il bordo
    @extend .border-2; // spessore del bordo
    @extend .border-info; // colore del bordo
    @extend .bg-secondary; // colore di sfondo
    @extend .rounded-2; // arrotondamento
    @extend .d-inline-block; // display inline-block
    @extend .ps-1; // padding sinistro
    @extend .pe-1; // padding destro
    @extend .me-1; // margin destro
}

table {
    @extend .table;
    @extend .table-striped;
    @extend .border-secondary;
    @extend .table-bordered;
}

.typography {
    overflow-wrap: anywhere;
    word-break: break-word;
}

th {
    @extend .text-center;
}

.title-container,
li {
    position: relative;
}

li .tag {
    bottom: 50%;
    transform: translate(0, 50%);
}

.tag {
    position: absolute;
    right: 0;
    bottom: 24%;
}

.roman-number {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: currentColor;
    }

    &::before {
        top: 22%; // Adjust this - lower number = closer to text
    }

    &::after {
        bottom: 24%; // Adjust this - lower number = closer to text
    }
}

i {
    @extend .pe-1;
}

.vault-note a {
    @extend .wikilink;
}

@function headings($from: 1, $to: 6) {
    @if $from ==$to {
        @return "h#{$from}";
    }

    @else {
        @return "h#{$from}, "+headings($from + 1, $to);
    }
}

// Usage
#{headings()} {
    @extend .text-uppercase;
}

.embed-title {
    @extend .mb-4;
    @extend .pb-2;
    @extend .text-warning;
}